<div class="auth-container">
  <div class="auth-card">
    <img src="assets/wevioo_logo.png" alt="Wevioo Logo" class="login-logo">
    <h2>Réinitialisation du mot de passe</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nouveau mot de passe :</label>
        <input type="password" [(ngModel)]="newPassword" name="newPassword" required />
      </div>
      <div class="form-group">
        <label>Confirmer le mot de passe :</label>
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
      </div>
      <button type="submit" class="btn-primary">Réinitialiser</button>
    </form>
  </div>
</div>