.user-management-container {
  padding: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


/* Ajout d'une ombre pour les cartes */
mat-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  border-radius: 8px; /* Coins arrondis */
  transition: box-shadow 0.3s ease; /* Animation pour un effet fluide */
}

mat-card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée au survol */
}

/* Ajout d'une ombre pour le tableau */
.mat-elevation-z8 {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  border-radius: 8px; /* Coins arrondis */
  overflow: hidden; /* Empêche le débordement */
  transition: box-shadow 0.3s ease; /* Animation pour un effet fluide */
}

.mat-elevation-z8:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée au survol */
}

.filters-container {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
  align-items: center;

  mat-form-field {
    min-width: 200px;
  }
}

.mat-elevation-z8 {
  overflow-x: auto;
}

table {
  width: 100%;
}

.mat-mdc-chip {
  margin: 2px !important;
}

/* Style pour les boutons d'action */
.mat-mdc-icon-button {
  margin: 0 4px;
}

/* Style pour le tableau responsive */
@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
//* Dans votre fichier .scss */
.role-chip.inactive {
  background-color: #e8e8e8 !important;
  color: #5a5a5a !important;
  border-color: #c5c5c5 !important;
  cursor: not-allowed;
  opacity: 1 !important;
}

.role-chip.inactive .mdc-chip__checkmark {
  display: none !important;
}

.role-chip.inactive.mat-mdc-chip:hover {
  background-color: #e8e8e8 !important;
}