/* demande-form.component.scss */
.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.technical-action {
  border: 1px solid #eee;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.action-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.add-action {
  margin: 1rem 0;
}

.stepper-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

mat-form-field {
  width: 100%;
}
.form-group{
  width:750px
}
.detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  .detail-label {
    font-weight: bold;
    color: #424242;
    flex: 1;
    text-align: left;
    margin-right: 16px;
  }

  .custom-select {
    flex: 2;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    background-color: white;
  }

  mat-select {
    width: 100%;
  }
}