
<div class="submit-button-container">
  <button mat-raised-button color="primary" (click)="onSubmit()">Soumettre la demande </button>
</div>



<mat-horizontal-stepper [linear]="true" #stepper>
  <!-- Étape 1 : Informations de base -->
  <mat-step [stepControl]="basicInfo">
    <form [formGroup]="basicInfo">
      <ng-template matStepLabel>Informations de base</ng-template>
      <h2>Informations de base</h2>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Demandeur </mat-label>
          <input matInput formControlName="demandeur" required>
          <mat-error *ngIf="basicInfo.get('demandeur')?.invalid && basicInfo.get('demandeur')?.touched">
            Ce champ est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Client </mat-label>
          <input matInput formControlName="client" required>
          <mat-error *ngIf="basicInfo.get('client')?.invalid && basicInfo.get('client')?.touched">
            Ce champ est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Source de changement </mat-label>
          <mat-select formControlName="sourceDeChangement" required>
            <mat-option *ngFor="let source of enums.sources" [value]="source">
              {{ source }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="basicInfo.get('sourceDeChangement')?.invalid && basicInfo.get('sourceDeChangement')?.touched">
            Ce champ est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Description </mat-label>
          <textarea matInput formControlName="description" required></textarea>
          <mat-error *ngIf="basicInfo.get('description')?.invalid && basicInfo.get('description')?.touched">
            Ce champ est requis
          </mat-error>
        </mat-form-field>
      </div>


      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>causes / objectifs de changement </mat-label>
          <textarea matInput formControlName="causesChangement" required></textarea>
          <mat-error *ngIf="basicInfo.get('causesChangement')?.invalid && basicInfo.get('causesChangement')?.touched">
            Ce champ est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div class="stepper-actions">
        <button mat-raised-button color="primary" matStepperNext [disabled]="basicInfo.invalid">Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 2 : Étude de la demande -->
  <mat-step [stepControl]="study">
    <form [formGroup]="study">
      <ng-template matStepLabel>Étude de la demande</ng-template>
      <h2>Étude de la demande</h2>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Service(s) impacté(s) </mat-label>
          <input matInput formControlName="impactedInfrastructure" required>
          <mat-error *ngIf="study.get('impactedInfrastructure')?.invalid && study.get('impactedInfrastructure')?.touched">
            Ce champ est requis
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Niveau d'impact </mat-label>
          <mat-select formControlName="niveauImpact" required>
            <mat-option *ngFor="let impact of enums.impacts" [value]="impact">
              {{ impact }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Priorité </mat-label>
          <mat-select formControlName="priorite" required>
            <mat-option *ngFor="let priority of enums.priorities" [value]="priority">
              {{ priority }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Catégorie </mat-label>
          <mat-select formControlName="categorie" required>
            <mat-option *ngFor="let category of enums.categories" [value]="category">
              {{ category }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="stepper-actions">
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-raised-button color="primary" matStepperNext [disabled]="study.invalid">Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 3 : Ressources nécessaires -->
  <mat-step [stepControl]="ressources">
    <form [formGroup]="ressources">
      <ng-template matStepLabel>Ressources nécessaires</ng-template>
      <h2>Ressources nécessaires</h2>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Ressources humaines</mat-label>
          <textarea matInput formControlName="humanResources"></textarea>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Ressources matérielles</mat-label>
          <textarea matInput formControlName="materialResources"></textarea>
        </mat-form-field>
      </div>

      <div class="stepper-actions">
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-raised-button color="primary" matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 4 : Évaluation des Risques -->
  <mat-step [stepControl]="riskAssessment">
    <form [formGroup]="riskAssessment">
      <ng-template matStepLabel>Évaluation des Risques</ng-template>
      <h2>Évaluation des Risques</h2>

      <!-- Disponibilité -->
      <div formGroupName="disponibilite">
        <h3>Disponibilité</h3>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Impact (1-5)</mat-label>
            <input matInput type="number" formControlName="impactValue" min="1" max="4">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Probabilité (1-4)</mat-label>
            <input matInput type="number" formControlName="probability" min="1" max="4">
          </mat-form-field>
        </div>
       <!--<div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Commentaire du RSSI</mat-label>
            <textarea matInput formControlName="rssiComments"></textarea>
          </mat-form-field>
        </div>--> 
      </div>

      <!-- Intégrité -->
      <div formGroupName="integrite">
        <h3>Intégrité</h3>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Impact (1-4)</mat-label>
            <input matInput type="number" formControlName="impactValue" min="1" max="4">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Probabilité (1-4)</mat-label>
            <input matInput type="number" formControlName="probability" min="1" max="4">
          </mat-form-field>
        </div>
       <!--<div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Commentaire du RSSI</mat-label>
            <textarea matInput formControlName="rssiComments"></textarea>
          </mat-form-field>
        </div>--> 
      </div>

      <!-- Confidentialité -->
      <div formGroupName="confidentialite">
        <h3>Confidentialité</h3>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Impact (1-5)</mat-label>
            <input matInput type="number" formControlName="impactValue" min="1" max="5">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Probabilité (1-5)</mat-label>
            <input matInput type="number" formControlName="probability" min="1" max="5">
          </mat-form-field>
        </div>
        <!--<div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Commentaire du RSSI</mat-label>
            <textarea matInput formControlName="rssiComments"></textarea>
          </mat-form-field>
        </div>-->
      </div>

      <div class="stepper-actions">
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-raised-button color="primary" matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <!-- Étape 5 : Actions Techniques -->
  <mat-step [stepControl]="technicalActions">
    <form [formGroup]="form">
      <ng-template matStepLabel>Actions Techniques</ng-template>
      <h2>Actions Techniques</h2>

      <!-- Liste des actions techniques -->
      <div formArrayName="technicalActions">
        <div *ngFor="let action of technicalActions.controls; let i = index" [formGroupName]="i" class="technical-action">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Description </mat-label>
              <input matInput formControlName="description" required>
              <mat-error *ngIf="action.get('description')?.invalid && action.get('description')?.touched">
                Ce champ est requis
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Responsable *</mat-label>
              <mat-select formControlName="responsable" required>
                <mat-option *ngFor="let exec of executeurs" [value]="exec.id">
                  {{ exec.fullName }} <!-- ou exec.username selon ton DTO -->
                </mat-option>
              </mat-select>
              <mat-error *ngIf="action.get('responsable')?.invalid && action.get('responsable')?.touched">
                Ce champ est requis
              </mat-error>
            </mat-form-field>
          </div>
      
            <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>Date Planifiée *</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="plannedDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="action.get('plannedDate')?.invalid && action.get('plannedDate')?.touched">
                  Ce champ est requis
                </mat-error>
              </mat-form-field>
            </div>          
        <!-- <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Statut</mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let status of enums.actionStatuses" [value]="status">
                  {{ status }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>-->  
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Type d'action</mat-label>
              <mat-select formControlName="actionType">
                <mat-option *ngFor="let actionType of enums.actionTypes" [value]="actionType">
                  {{ actionType }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        
      

          <div class="form-group">
            <button mat-icon-button color="warn" (click)="removeTechnicalAction(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <!-- Bouton pour ajouter une nouvelle action technique -->
      <div class="form-group">
        <button mat-raised-button color="primary" type="button" (click)="addTechnicalAction()">
          <mat-icon>add</mat-icon> Ajouter une Action Technique
        </button>
      </div>

      
      
      
    </form>
  </mat-step>
</mat-horizontal-stepper>