<div class="auth-container">
  <div class="auth-card">
    <img src="assets/wevioo_logo.png" alt="Wevioo Logo" class="login-logo">
    <h2>Réinitialiser le mot de passe</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email: *</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
      </div>
      <button type="submit" class="btn-primary">Envoyer un e-mail de réinitialisation</button>
    </form>
    <p *ngIf="message" class="success">{{ message }}</p>
    
  </div>
</div>