.mat-sidenav-container {
    height: 95vh;
}

.mat-sidenav-content {
    padding: 20px;
}

.mat-toolbar {
    background-color: #3f51b5; /* Couleur de fond de la barre d'outils */
    color: white; /* Couleur du texte */
}

.mat-sidenav {
    background-color: #f5f5f5; /* Couleur de fond de la barre latérale */
}

.mat-list-item {
    &:hover {
        background-color: #e0e0e0; /* Couleur de fond au survol */
    }
}

.mat-icon {
    margin-right: 8px; /* Espacement entre l'icône et le texte */
}

.spacer {
    flex: 1 1 auto;
}
.login-logo {
    display: block !important;
    margin: 0 auto !important; /* Centre horizontalement */
    max-width: 100% !important; /* S'assure que le logo ne dépasse pas les limites */
  }
  mat-list-item {
    white-space: normal; /* Permet d'afficher le texte sur plusieurs lignes */
    word-wrap: break-word; /* Coupe les mots longs si nécessaire */
  }