<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Change Managemant Application</h1>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>mail</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item [routerLink]="'/profile'">Profil</button>
      <button mat-menu-item (click)="logout()">Déconnexion</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav opened mode="side" [style.width.px]="200">
    <img src="assets/wevioo_logo.png" alt="Wevioo Logo" class="login-logo">
    <mat-nav-list>  
       @for(item of filteredMenuItems; track $index){
      <a mat-list-item [routerLink]="item.route">
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
      </a>
    }

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet/>
  </mat-sidenav-content>
 
</mat-sidenav-container>












  
