.mat-sidenav-container {
  height: 95vh;
}

.mat-sidenav-content {
  padding: 20px;
}

.mat-toolbar {
  background-color: #3f51b5;
  color: white;
}

.mat-sidenav {
  background-color: #f5f5f5;
}

mat-expansion-panel {
  background: transparent;
  box-shadow: none !important;
}

mat-expansion-panel-header {
  padding: 0 16px;
  height: 48px !important;
  cursor: pointer; /* Curseur pour indiquer la navigabilité */
}

mat-expansion-panel-header:hover {
  background-color: #e0e0e0; /* Effet de survol uniforme */
}

mat-panel-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.menu-icon {
  margin-right: 8px;
  color: #666;
  font-size: 20px; /* Taille uniforme pour les icônes */
}

.menu-label {
  flex-grow: 1;
  font-size: 14px;
  color: #444;
}

.chevron-icon {
  margin-left: auto;
  color: #666;
  transition: transform 0.2s; /* Animation pour le chevron */
}

mat-expansion-panel[expanded] .chevron-icon {
  transform: rotate(180deg);
}

/* Masquer le chevron par défaut de mat-expansion-panel */
mat-expansion-panel-header .mat-expansion-indicator {
  display: none;
}

mat-nav-list a {
  padding-left: 32px; /* Indentation pour les sous-éléments */
  font-size: 14px;
  color: #444;
}

mat-nav-list a:hover {
  background-color: #e0e0e0;
}

.spacer {
  flex: 1 1 auto;
}

.mat-sidenav-container {
  .login-logo {
    display: block !important;
    margin: 0 auto !important;
    margin-top: 16px !important;
    max-width: 100% !important;
  }
}

.new-notification {
  color: black !important;
}

mat-menu {
  min-width: 300px;
}

mat-list-item {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: initial !important;
  height: auto !important;
  padding: 8px 16px;
}

mat-list-item strong {
  display: inline !important;
}

::ng-deep .mat-mdc-list-item-unscoped-content {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: unset !important;
  display: block !important;
}

::ng-deep .mat-mdc-list-item-content,
::ng-deep .mdc-list-item__primary-text {
  height: auto !important;
  line-height: 1.5 !important;
  display: block !important;
}
